* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

// Layout

.container {
    padding: 0 0.75rem;
    margin: 0 auto;
    max-width: 1200px;
}

// Components

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.btn{
    padding: 0.75rem 0.5rem;
    border: 2px solid transparent;
}